#grid--container {
    overflow: scroll;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#grid--container img {
    width: 230px;
    margin-bottom: 20px;
}

#product--container {
    background-color: white;
    border-radius: 15px;
    font-size: .8rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#product--container span {
    padding: 10px
}

#product--container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}